.DS_Store
/public/includes/src/*
/public/media/catalog/*
/public/media/js/*
/public/media/css/*.css
/public/media/tmp/*
/oublic/media/giftvoucher/template/barcode/*
/public/errors/local.xml
/public/app/etc/local.xml
/public/var/

.idea/
.vagrant/
