.DS_Store
/public/includes/*
/public/var/cache/**/*
/public/var/session/**/*
/public/var/session/*
/public/var/log/*
/public/var/locks/*
/public/var/report/*
/public/media/catalog/product/*
/public/media/js/*
/public/media/css/*.css
/public/errors/local.xml
/public/app/etc/local.xml
