<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Gemgento_Sales>
            <version>0.0.1</version>
        </Gemgento_Sales>
    </modules>
    <global>
        <models>
            <sales>
                <rewrite>
                    <service_quote>Gemgento_Sales_Model_Service_Quote</service_quote>
                    <recurring_profile>Gemgento_Sales_Model_Recurring_Profile</recurring_profile>
                    <recurring_profile_api>Gemgento_Sales_Model_Recurring_Profile_Api</recurring_profile_api>
                    <recurring_profile_api_v2>Gemgento_Sales_Model_Recurring_Profile_Api_V2</recurring_profile_api_v2>
                </rewrite>
            </sales>
        </models>
    </global>
</config>
