<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
         <Gemgento_Catalog>
            <version>0.0.1</version>
        </Gemgento_Catalog>
    </modules>
    <global>
        <models>
            <catalog>
                <rewrite>
                    <category_api>Gemgento_Catalog_Model_Category_Api</category_api>
                    <category_api_v2>Gemgento_Catalog_Model_Category_Api_V2</category_api_v2>
                    <product_action>Gemgento_Catalog_Model_Product_Action</product_action>
                </rewrite>
            </catalog>
        </models>
   </global>
</config>
