<?xml version="1.0"?>
<config>
    <tabs>
        <gemgento translate="label">
            <label>Gemgento</label>
            <sort_order>150</sort_order>
        </gemgento>
    </tabs>   
    <sections>  
        <gemgento_push>  
            <label>Push Settings</label>  
            <tab>gemgento</tab>  
            <frontend_type>text</frontend_type>  
            <show_in_default>1</show_in_default>  
            <show_in_website>1</show_in_website>  
            <show_in_store>1</show_in_store>  
            <sort_order>10</sort_order>  
            <groups>  
                <settings translate="label">  
                    <label>Gemgento URL</label>  
                    <frontend_type>text</frontend_type>  
                    <sort_order>10</sort_order>  
                    <show_in_default>1</show_in_default>  
                    <show_in_website>1</show_in_website>  
                    <show_in_store>1</show_in_store>
                    <expanded>1</expanded>    
                    <fields>  
                        <gemgento_url translate="label">  
                            <label>Gemgento Url</label>  
                            <frontend_type>text</frontend_type>  
                            <sort_order>1</sort_order>  
                            <show_in_default>1</show_in_default>  
                            <show_in_website>1</show_in_website>  
                            <show_in_store>1</show_in_store>  
                        </gemgento_url>
                        <gemgento_user translate="label">  
                            <label>Gemgento HTTP Auth User</label>  
                            <frontend_type>text</frontend_type>  
                            <sort_order>2</sort_order>  
                            <show_in_default>1</show_in_default>  
                            <show_in_website>1</show_in_website>  
                            <show_in_store>1</show_in_store>  
                        </gemgento_user>
                        <gemgento_password translate="label">  
                            <label>Gemgento HTTP Auth Password</label>  
                            <frontend_type>password</frontend_type>  
                            <sort_order>3</sort_order>  
                            <show_in_default>1</show_in_default>  
                            <show_in_website>1</show_in_website>  
                            <show_in_store>1</show_in_store>  
                        </gemgento_password>    
                    </fields>  
                </settings>  
            </groups>  
        </gemgento_push>  
    </sections>  
</config>  